<!DOCTYPE html>
<html>
  <head>
    <title>Check-In</title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body>
    <h1>User's Logs</h1>
    <h3>Logged this week: 10 hours<!--<%#= docs.total %>--> hrs</h3><br>

    <form action='/checkin' method="GET">
        <button class = 'log btn btn-danger' id = 'exit' type = submit>Exit</button>
    </form>

    <table name = 'myTable' id = 'myTable' class = 'table table-inverse'>
        <thead>
            <tr>
                <th> Day </th>
                <th> Hours Worked </th>
            </tr>
        </thead>

        <tbody>
            <tr id='monday'>
                <td> Monday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='mon_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>

        <tbody>
            <tr id='tuesday'>
                <td> Tuesday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='tues_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>
        <tbody>
            <tr id='wednesday'>
                <td> Wednesday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='wed_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>

        <tbody>
            <tr id='thursday'>
                <td> Thursday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='thur_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>

        <tbody>
            <tr id='friday'>
                <td> Friday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='fri_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>

        <tbody>
            <tr id='saturday'>
                <td> Saturday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='sat_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>

        <tbody>
            <tr id='sunday'>
                <td> Sunday </td>
                <td> 3 </td>
            </tr>
            <%#for(var i = 0; i < docs.length; i++){ %>
                <tr class='logDetails'>
                    <td colspan='2'>
                        <div id='sun_detail' style="display:none">
                            3~5
                            <!--<%#= docs.checkin %> - <%#= docs.checkout %> -->
                        </div>
                    </td>
                </tr>
             <%# } %>
        </tbody>

<script src="/javascript/timelog.js"></script>
 </body>
</html>